.brødsmulesti {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;

    &__skilletegn {
        margin: 0 0.25rem;
    }

    a {
        padding: 0 0.25rem;
    }

    svg {
        height: 2rem;
        width: 2rem;
        margin: 1rem 0;
        margin-right: 0.5rem;
    }
}
