.tilbake {
    margin-bottom: 2rem;

    &__lenke {
        display: inline-flex;
        align-items: center;
        padding: 0.25rem;
        padding-left: 0;
    }

    &__chevron {
        margin-right: 0.5rem;
    }
}
