.tilbake {
    flex: 1;
    margin-bottom: 1rem;
}

@media (min-width: 40rem) {
    .tilbake {
        margin-bottom: 0;
    }
}

.ikon {
    transition: transform 200ms;
}

.tilbake:hover .ikon {
    transform: translateX(-3px);
}

.lenke {
    padding: 0.25rem 0.25rem 0.25rem 0;
}
