.tilbake {
    flex: 1;
    margin-bottom: 1rem;

    &:hover {
        .tilbake__chevron {
            transform: translateX(-3px);
        }
    }

    &__lenke {
        display: inline-flex;
        align-items: center;
        padding: 0.25rem 0.25rem 0.25rem 0;
    }

    &__chevron {
        margin-right: 0.25rem;
        transition: transform 200ms;
    }

    @media (min-width: 40rem) {
        align-self: flex-end;
        margin-bottom: 0;
    }
}
